* {
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b877d6
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vh;
    height: 100vh;
    border: 1px solid black;
    background-color: white;
}

.square {
    border: 1px solid black;
    /* width: 25%;
    height: 25%; */
    text-align: center;
    background-color: black;
}

button {
    border-radius: 10px;
    border: 2px solid purple;
    width: fit-content;
    height: 50px;
    font-size: larger;
    background-color: antiquewhite;
}
